<div class="container">
    <div class="alert alert-info">This project is in exploratory stage... Do not use it in production apps yet.</div>
    <div class="jumbotron">
        <h1>Everyone can build apps</h1>
        <h2>... and host them for free</h2>
        <p align="center" class="sign-up-button">
            <a href="/register" class="btn btn-inverse btn-lg">Sign up</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Simple App Design</h2>
            <p>The editor uses one page, and there is no flow diagrams to do. The philosophy is that should be simple to use,
                at the sacrifice of features.</p>
        </div>
        <div class="col-md-4">
            <h2>One Click Publish</h2>
            <p>Just provide your API Keys from <a href="//www.heroku.com/">Heroku</a> and <a href="//mongolab.com/">MongoLab</a> and you're ready to start using it. Recommendation:
                <strong>use your free quotas</strong>. For a small number of users it should be free.</p>
        </div>
        <div class="col-md-4">
            <h2>Extensible</h2>
            <p>Source code written for <code>NodeJS</code> is provided, for both this website and the generated apps.</p>
        </div>
    </div>

    <div class="row roadmap">
        <div class="col-md-7">
            <h2 class="featurette-heading">Project  <span class="text-muted">Vision</span></h2>
            <p class="lead">The idea is to evolve this app into a BPM for the small company. In addition, the target platform is mobile,
            and some fields, such as GPS or CameraPicture will be added and supported through an App to be done.</p>
        </div>
        <div class="col-md-5 road-ahead">
            <span class="glyphicon glyphicon-road"></span>
            <h1>The Road Ahead</h1>
        </div>
    </div>

</div>